.contacts {
  font-style: normal;

  @include phones {
    margin-bottom: rem(21px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contacts__place {
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;

  @include phones {
    margin-bottom: rem(10px);
  }
}