.form {
  display: flex;
  
  @include tablets {
    flex-direction: column;
    padding: 0 19%;
  }

  @include phones {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-bottom: rem(73px);
  margin-right: rem(43px);

  @include tablets {
    margin-bottom: rem(19px);
  }

  &:last-child {
    margin-right: 0;
    
    @include tablets {
      margin-bottom: 0;
    }
  }

  @include tablets {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(18px);

  @include tablets {
    margin-bottom: rem(24px);
  }
}

.form__block {
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: none;
  padding: rem(18px) rem(11px);
  border: rem(3px) solid transparent;
  border-radius: rem(4px);

  &--textarea {
    height: rem(152px);
    resize: none;
    margin-bottom: rem(16px);

    @include tablets {
      height: rem(82px);
    }
  }

  &:focus {
    border-color: #FEDB3F;
    outline: none;
  }

  @include tablets {
    padding: rem(8px) rem(10px);
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;

  @include phones {
    justify-content: center;
  }
}