.fullscreen-menu.active {
  display: none;

  // @include tablets {
  //   display: block;
  //   display: flex;
  // }
}

.fullscreen-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #313131;
  z-index: 1000;
  overflow: hidden;
  flex-direction: column;
}

.fullscreen-menu__close {
  display: flex;
  justify-content: flex-end;
  margin-right: rem(42px);
  margin-top: rem(40px);
  margin-bottom: rem(76px);
  
}

.menu--vertical .menu__list {
  display: flex;
  flex-direction: column;
}

.menu--vertical {
  font-weight: 400;
  font-size: rem(36px);
  line-height: rem(72px);
  text-align: center;
  color: #FFFFFF;
  // padding-bottom: 209px;

  @include tablets {
    display: block;
  }
}

.btn__close {
  width: rem(20px);
  height: rem(20px);
}